body {
    font-family: Arial;
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    color: white;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
}

select, button {
    padding: 15px;
    font-size: 18px;
    margin: 10px;
}

button {
    background: #00e676;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

table {
    margin: auto;
    margin-top: 20px;
    background: white;
    color: black;
    border-collapse: collapse;
    width: 80%;
    font-size: 18px;
}

th, td {
    padding: 15px;
    border: 1px solid #ccc;
}

.highlight {
    background: #a5d6a7;
    font-weight: bold;
}

.info {
    font-size: 20px;
    margin: 10px;
}
